body {
    margin-top: 50px;
    background-color: #ECF0F1;
}

@media(min-width:767px) {
    body {
        margin-top: 50px;
    }
    .navbar-default .navbar-brand {
        width: 175px;
        background-color: #3FC18B;
        color: white;
    }
}

.navbar-icons {
    margin-bottom: 10px;
}

.navbar-default {
    background-color: #41D89E;
    border-color: #41D89E;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #EEF2F9;
    background-color: #3FC18B;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #EEF2F9;
    background-color: #2E4154;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #3FC18B;
    background-color: #2E4154;
}

@media(min-width:767px) {
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        -webkit-box-shadow: inset 5px 0px 0px 0px #3FC18B;
        box-shadow: inset 5px 0px 0px 0px #3FC18B;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #ECF0F1;
}

@media(min-width:767px) {
    #wrapper {
        padding-left: 175px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    /* float:left; */
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: white;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    background-color: #41D89E;
    color: #EEF2F9;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: white;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

/* Side Navigation */

@media(min-width:767px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 175px;
        width: 175px;
        margin-left: -175px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #34495E;
        height: 100%;
    }

    .side-nav>li>a {
        width: 175px;
        height: 130px;
        margin: 0px;
        padding: 0px;
        text-align: center;
        vertical-align: middle;
    }

    .outer {
        display: table;
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .middle {
        display: table-cell;
        vertical-align: middle;
    }

    .inner {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}