section.performance-facts {
  font-size: medium;
  line-height: 1.4;
}
p.nutrition-p {
  margin: 0;
}

section.performance-facts {
  border: 1px solid black;
  width: 100%;
  padding: 0.5rem;
  table {
    border-collapse: collapse;
  }
}

h1.performance-facts__title {
  font-weight: bold;
  font-size: 2rem;
  margin: 0 0 0.25rem 0;
}

header.performance-facts__header {
  border-bottom: 10px solid black;
  padding: 0 0 0.25rem 0;
  margin: 0 0 0.5rem 0;
  p {
    margin: 0;
  }
}

section.performance-facts .performance-facts__table th.nutrition-rows {
  font-weight: normal;
  text-align: left;
  padding: 0.25rem 0;
  border-top: 1px solid black;
  white-space: nowrap;
}

table.tabletest.performance-facts__table{
  width: 100%;

  .blank-cell {
    width: 1rem;
    border-top: 0;
  }
  .thick-row {
    th, td {
      border-top-width: 5px;
    }
  }
}
.small-info {
  font-size: 1.1rem;
}

.text-center {
  text-align: center;
}
.thick-end {
  border-bottom: 10px solid black;
}
.thin-end {
  border-bottom: 1px solid black;
}
