

{% extends 'bootstrap/base.html' %} 
{% block title %} 
 Dashboard
  {% endblock %}
   {% block navbar %} 
  {% block styles %} {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='navbar_style_custom.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='global.css')}}">
  <script src="https://use.fontawesome.com/b5a3784533.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" rel="stylesheet"> 
  {% endblock %}
  <div id="wrapper">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false"
         aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          
        </button>
        <a class="navbar-brand text-center" href="{{ url_for('home') }}">Weight Tracker</a>
      </div>
      <!--top menu-->
      <ul class="nav navbar-right top-nav hidden-xs">
        {% if current_user.is_anonymous %}
        <li><a href="{{ url_for('login') }}">Login</a></li>
        {% else %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span><i class="fas fa-user-circle fa-lg"></i></span>
            <span> {{ current_user.username }}</span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
            <li class="divider"></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
          {% if current_user.is_anonymous %} 
          <li {% if 'login' in request.path %}class="active" {% endif %} class="hidden-sm hidden-md hidden-lg">
            <a href="{{ url_for('login')}}">
              <div class="outer">
                <div class="middle">
                  <div class="inner">
                    <i class="navbar-icons fas fa-sign-in-alt fa-3x"></i>
                    <br/>Log In
                  </div>
                </div>
              </div>
            </a>
          </li>				
          {% else %}
          <li {% if 'diary' in request.path %}class="active" {% endif %}>
            <a href="{{ url_for('diary')}}">
              <div class="outer">
                <div class="middle">
                  <div class="inner">
                    <i class="navbar-icons fas fa-utensils fa-3x"></i>   
                    <br/>Diary
                  </div>   
                </div>  
              </div>   
            </a>
          </li>
          <li {% if 'search' in request.path %}class="active" {% endif %}>
            <a href="{{ url_for('search') }}">
              <div class="outer">
                <div class="middle">
                  <div class="inner">
                    <i class="navbar-icons fas fa-search fa-3x"></i>
                    <br/>Search
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li {% if 'profile' in request.path %}class="active" {% endif %}    >
            <a href="{{ url_for('profile') }}"    >
              <div class="outer"      >
                <div class="middle"  >
                  <div class="inner" >
                    <i class="navbar-icons far fa-user fa-3x" ></i>
                    <br />Profile
                  </div >
                </div>
              </div>
            </a>
          </li>
          <!-- dashboard -->
          <li {% if 'dashboard' in request.path %}class="active" {% endif %}>
            <a href="{{ url_for('dashboard') }}">
              <div class="outer">
                <div class="middle">
                  <div class="inner">
                    <span class="glyphicon glyphicon-home fa-3x"></span>
                    <br />Dashboard
                  </div>
                </div>
              </div>
            </a>
          </li>
          <!-- dashy -->
          <li {% if 'logout' in request.path %}class="active" {% endif %} class="hidden-sm hidden-md hidden-lg">
            <a href="{{ url_for('logout') }}">
              <div class="outer">
                <div class="middle">
                  <div class="inner">
                    <i class="navbar-icons fas fa-sign-out-alt fa-3x"></i>
                    <br />Log Out
                  </div>
                </div>
              </div>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <h1 class="page-header" style="text-align: center;">Welcome, {{ current_user.username }}</h1>
          <h3 class="osoro" style="text-align: center;">Find your Body Mass Index here</h3>
          <script type="text/javascript" async id="bmi-calculator" data-type="verywell-tool" data-vertical="verywellfit" src="https://www.verywellfit.com/static/4.104.0/components/tools/calculators/iframe-embed/embed.min.js?id=bmi-calculator"></script>
          </div>
          
    {% endblock %} {% block content %} {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages
    %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %} {# application content needs to be provided in the app_content block #} {% block app_content
    %}{% endblock %} {% endblock %}