{% extends 'base.html' %} {% block app_content %}
<div id="page-wrapper">
    <div class="container-fluid main-content-fluid">
        <h2 class="text-center">Sign In</h2>
        <hr/>
        <br/>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}
                <br> {{ form.username(size=32) }} {% for error in form.username.errors %}
                <span style="color: red;">[{{ error}}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}
                <br> {{ form.password(size=32) }} {% for error in form.password.errors %}
                <span style="color: red;">[{{ error}}]</span>
                {% endfor %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit(class="btn btn-primary mb-2") }}</p>
        </form>
        <br/>
        <p>New User?
            <a href="{{ url_for('register') }}">Click to Register!</a>
        </p>
    </div>
</div>
{% endblock %}