{% extends 'base.html' %} {% block app_content %}{% block styles %} {{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='search.css')}}">{% endblock %}
<div id="page-wrapper">
	<div class="container-fluid main-content-fluid">
		<div class="row">
			<form method='post'>
				{{ form.hidden_tag() }}
				<div class="col-sm-6 col-xs-12">
					<div class="input-group">
						{{ form.search(class="form-control", placeholder="Enter food name...") }}
						<span class="input-group-btn">
							<button type="submit" class="btn btn-primary mb-2" name="action" value="search">Search</button>
						</span>
					</div>
				</div>
			</form>
		</div>
		<div class="clearfix"></div>
		</br>
		<form action="" method=POST>
			<table class=" table table-condensed table-custom">
				{% if recent_list == True %}
				<tr>
					<th colspan="2">
						<div class="form-inline">
							{% if meal == None %}
							<select name="mealselect" class="form-control" id="sel1">
								<option >Breakfast</option>
								<option>Lunch</option>
								<option>Dinner</option>
								<option>Snacks</option>
							</select>
							{% endif %}
							<button type="submit" class="btn btn-primary" name="action" value="multiadd">Add Checked</button>
						</div>
					</th>
				</tr>
				{% endif %} {% for food_name in food_list_clean %}
				{% if food_name[0] != 'Quick Add' %}
				<tr class="content-rows">
					{% if recent_list == True %}
					<td class="text-center">
						<input type="checkbox"  name="selected" value="{{ food_name[2] }}">
					</td>
					{% endif %}
					<td>
						<a href="{{ url_for('get_nutrition', ndbno = food_name[1], meal=meal, date=date) }}">{{ food_name[0] }}</a>
					</td>
				</tr>
				{% endif %}
				{% endfor %}
			</table>
		</form>
	</div>
</div>
</div>
{% endblock %}